@import "header";
@import "main";
@import "footer";
@import "navigation";

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  font-weight: 300;
  &.menu-active {
  	overflow: hidden;
  }
  &.front {
  	@include gradient-purple;
  }
}

#main {
  flex: 1 0 auto;
}

