.header {
	width: 100%;
	padding: 1.5rem;
	z-index: 999;
	display: flex;
	flex-direction: row;
}

.site-logo {
	width: 6.5rem;
	display: block;
	border-bottom: 1px solid transparent;
}

//hamburger
.hamburger {
	background: $gray-one;
	padding: .5rem 1rem;
	margin-left: auto;
	z-index: 999;
	height: 4.5rem;
	margin-top: 1rem;
	&:hover {
		.hamburger-patty {
			width: 2.5rem;
		}
	}
}

.hamburger-patty {
	height: .2rem;
	width: 2.5rem;
	margin: .7rem 0;
	background: #fff;
	display: block;
	transition-duration: .25s;
	&:nth-of-type(1) {
		width: 2rem;
	}
	&:nth-of-type(2) {
		width: 2.5rem;
	}
	&:nth-of-type(3) {
		margin: .7rem 0 0;
		width: 1rem;
	}
	.menu-active & {
		&:nth-of-type(1) {
			transform: rotate(45deg) translate(8px, 6px);
			width: 2.5rem;
		}
	}
	.menu-active & {
		&:nth-of-type(2) {
			opacity: 0;
		}
	}
	.menu-active & {
		&:nth-of-type(3) {
			transform: rotate(-45deg) translate(7px,-5px);
			width: 2.5rem;
		}
	}
}
