@use '../../styles/colors' as *;
@use '../../styles/functions' as *;
@use '../../styles/mixins' as *;

// ============================================================
// Project List Grid (Home & Work pages)
// ============================================================


.projectCard {
  inline-size: 100%;
  text-decoration: none;
  gap: 2rem;
  cursor: pointer;
  border: 1px solid transparent;
  padding: 2rem;
  
  @media (prefers-reduced-motion: no-preference) {
    transition: all .3s ease-in-out;
  }

  @include bp-min(tablet) {
    display: flex;
    flex-direction: row;
  }

  &:hover {
    border: 1px solid var(--light);
    border-radius: 1rem;
    background: var(--off);

    svg {
      transform: translate3d(2px, -4px, 0px);
    }

    .projectInternalLink svg {
      transform: translate3d(4px, 0, 0);
    }

    .tag {
      background: var(--white);
    }
  }
}

.projectCard .projectAssetWrapper {
  inline-size: 18rem;
  overflow: hidden;
  margin-block-end: 2rem;
}

.projectCard .projectAssetWrapper img {
  display: block;
  transform: scale(1);

  @media (prefers-reduced-motion: no-preference) {
    transition: all .3s ease-in-out;
  }
}

.projectCard:hover .projectAssetWrapper img {
  transform: scale(1.05);
}

.projectCard .projectTitleWrapper {
  inline-size: 100%;
  position: relative;
}

.projectCard .projectCardLink {
  color: var(--navy);

  @media (prefers-reduced-motion: no-preference) {
    transition: all .3s ease-in-out;
  }

}

.projectCard:hover .projectCardLink {
  color: var(--orange);
}

.projectCard svg {
  inline-size: 1.4rem;
  block-size: 1.4rem;
  margin-inline-start: 1rem;

  @media (prefers-reduced-motion: no-preference) {
    transition: all .3s ease-in-out;
  }
}


// ============================================================
// Project / Lab Detail Page
// ============================================================
.project-header {
  @include bp-min(sm-desktop) {
    display: flex;
  }
}

.projectTitleWrapper h1 {
  margin-bottom: 1rem;
}

.project-intro {
  font-size: 2.8rem;
  color: var(--navy);

  @include bp-min(sm-desktop) {
    overflow: hidden;
    inline-size: 50%;
  }
}

.service-list {
  font-family: var(--font-mono);
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: gray(60%);
  margin-bottom: 2rem;

  a {
    font-family: var(--font-mono);
    font-size: 1.2rem;
    margin-left: 1rem;
  }
}

.project-content {
  img {
    max-inline-size: 100%;
    block-size: auto;
  }
}