<footer class="site-footer">

  <div class="container-fluid">
	<div class="col">
		

	    <ul class="social-media-list">
	      
	      <li>
	       <a href="https://github.com/b-ry"><i class="icon icon-github"></i><span>Github</span></a>
	      </li>
	      
	      <li>
	      	<a href="https://www.linkedin.com/in/bryon-urbanec-27bb423a?trk=nav_responsive_tab_profile"><i class="icon icon-linkedin"></i><span>LinkedIn</span></a>
	      </li>
	     
	    </ul>
    </div>

  </div><!--/wrapper-->

</footer>

<script src="https://code.jquery.com/jquery-2.2.1.min.js"   integrity="sha256-gvQgAFzTH6trSrAWoH1iPo9Xc96QxSZ3feW6kem+O00="   crossorigin="anonymous"></script>
<script src="/assets/js/scripts.js"></script>