<div class="">
	<h3>Say Hello!</h3>

	<div class="footer-wrapper">
		<div class="contact">
			<p>I am currently available for freelance work and consulting. Feel free to reach out regarding your project.</p>
		</div>

		<div class="links">
			<ul>
				<li>
					<a href="https://www.linkedin.com/in/bryon-urbanec-27bb423a?trk=nav_responsive_tab_profile" target="_blank">LinkedIn</a>
				</li>
				<li>
					<a href="https://github.com/b-ry" target="_blank">GitHub</a>
				</li>
				<li>
					<a href="/assets/bryonurbanec-resume.pdf">Resume</a>
				</li>
			</ul>
		</div>

	</div>

</div>
