<header class="site-header clearfix">
  <div class="wrapper">
    {% if page.url == "/" %}
       <a class="site-logo" href="{{ site.baseurl }}/"><img src="/assets/img/theme/bu-logo.svg"/></a>
    {% else %}
       <a class="site-logo" href="{{ site.baseurl }}/"><img src="/assets/img/theme/bu-logo-bw.svg"/></a>
    {% endif %}

    <nav class="site-nav clearfix">
      <ul class="navigation">
        {% for link in site.navigation %}
          {% assign current = nil %}
          {% if page.url == link.url %}
            {% assign current = 'current' %}
          {% endif %}
          <li class="{% if forloop.first %}first{% endif %} {{ current }} {% if forloop.last %}last{% endif %}">
            <a class="hover-up {{ current }}" href="{{ link.url }}">{{ link.text }}</a>
          </li>
        {% endfor %}
      </ul>
    </nav>
  </div>
</header>


