.intro {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: relative;
	margin-top: -7.5rem;
	padding: 10rem 0 20rem;
	height: 100vh;
}

.intro .hero-content {
	color: #fff;
	font-family: 'Open Sans';
	position: relative;
	z-index: 9;
	margin-top: 10rem;
	@include media-breakpoint-up(md) {
	}
}

.intro .name {
	margin-left: .2rem;
	line-height: 1;
	font-weight: 300;
	letter-spacing: 1px;
	font-size: 2rem;
	position: relative;
	z-index: 1;
	@include media-breakpoint-up(md) {
		margin-left: .6rem;
		font-size: 3rem;
	}
}

.intro .position {
	font-weight: 900;
	line-height: .8;
	font-size: 6rem;
	text-transform: uppercase;
	position: relative;
	z-index: 1;
	@include media-breakpoint-up(md) {
		font-size: 16rem;
	}
	@include media-breakpoint-up(lg) {
		font-size: 20rem;
	}
}

.img-overlay img {
	position: absolute;
	height: 100%;
	width: 100%;
	object-fit: cover;
	opacity: .15;
	top: 0;
	left: 0;
}
