.portfolio {
	margin: 15rem 0 0;
}

.portfolio ul.post-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.portfolio ul.post-list li {
  list-style-type: none;
  padding: 4rem 0;
  line-height: $line-height;
  border-bottom: 1px solid tint($gray-one, 80%);
  &:last-of-type {
  	border-bottom: none;
  }
}

.portfolio .project-teaser {
	@include media-breakpoint-up(lg) {
		display: flex;
		flex-direction: row;
	}
}

.portfolio .project-teaser a {
	padding: 0;
}

.portfolio .project-teaser img {
	width: 100%;
	@include media-breakpoint-up(lg) {
		width: auto;
	}
}

.portfolio .project-content {
	@include media-breakpoint-up(lg) {
	  margin-left: 2rem;
	}
}

.portfolio .project-content h2 {
	font-size: 4rem;
	margin: 2rem 0;
	font-weight: 700;
	@include media-breakpoint-up(md) {
		font-size: 5rem;
	}
	a {
		color: $gray-one;
		&:hover {
			color: $primary;
		}
	}
}

.portfolio .featured .project-content h2 {

}
