.portfolio {
	margin: 15rem 0 ;
}

.portfolio ul.post-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.portfolio ul.post-list li {
	overflow: hidden;
	margin: 0;
	@include media-breakpoint-up(md) {
    	height: 30rem;
    }
}

.portfolio ul.post-list a {
	background: transparent;
	display: block;
	overflow: hidden;
	border: none;
	position: relative;
	transition-duration: .2s;
	display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
	@include media-breakpoint-up(md) {
    	height: 30rem;
    }

}

.portfolio ul.post-list img {
	width: 100%;
	height: 100%;
	object-fit: cover;	
	position: relative;
	z-index: -1;
}

.portfolio .project-content {
	position: absolute;
	width: 100%;
	bottom: 0;
}

.portfolio .project-content h2 {
	background: $gray-one;
	color: white;
	font-size: 2rem;
	line-height: 1;
	padding: 1rem;
	margin: 5%;
	font-weight: 700;
	text-transform: uppercase;
	position: relative;
	z-index: 5;
}

.portfolio .featured .project-content h2 {
	width: 94.5%;
	margin: 2.5%;
}

.portfolio a {
	overflow: hidden;
	font-weight: 300;
	position: relative;
	display: inline-block;
	outline: none;
	color: white;
	vertical-align: bottom;
	text-decoration: none;
	white-space: nowrap;
}

.portfolio a::before {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
	width: 100%;
	height: 100%;
	background-color: rgba(255,111, 0, 0.5);
	content: '';
	-webkit-transition: -webkit-transform 0.2s;
	transition: transform 0.2s;
	-webkit-transform: translateY(100%);
	transform: translateY(100%);
}

.portfolio a:hover::before,
.portfolio a:focus::before {
	-webkit-transform: translateY(0);
	transform: translateY(0);
}
