.portfolio-node .project-header {
	margin-bottom: 4rem;
}

.portfolio-node .project-banner {
	margin-bottom: 4rem;
	@include media-breakpoint-up(md) {
		margin-right: auto;
		width: 100%;
	}
}

.portfolio-node .project-banner img {
	width: 100%;
	box-shadow: 0 1rem 1rem rgba(0,0,0,0.05);
	@include media-breakpoint-up(lg) {
		margin-right: auto;
	}
}

.service {
	font-family: $font-family-sans-serif;
	font-size: 1.8rem;
	font-weight: 700;
	color: $purple;
	letter-spacing: 1px;
	margin-top: .5rem;
}
