.portfolio {
  padding: 0 1rem;
  @include media-breakpoint-up(lg) {
    width: 80%;
    margin: 0 auto;
  }
}

ul.work-list,
.portfolio ul.post-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  @include media-breakpoint-up(md) {
    flex-direction: row;
    flex-wrap: wrap;
  }
}

ul.work-list li,
.portfolio ul.post-list li {
  list-style-type: none;
  @include media-breakpoint-up(md) {
    width: calc(33.33% - 2rem);
    margin: 1rem;
  }
}

ul.work-list a,
.portfolio .post-list a {
  list-style-type: none;
  line-height: $line-height;
  margin: 0;
  display: block;
  position: relative;
  overflow: hidden;
}

ul.work-list a img,
.portfolio .post-list a img {
  transition-duration: .4s;
}

ul.work-list a:hover img,
.portfolio .post-list a:hover img {
  transform: scale(1.2) rotate(7deg);
}

ul.work-list .title,
.portfolio .title {
  position: absolute;
  bottom: 0;
  padding: 1rem 3rem;
  background: rgba($teal, 0.8);
  width: 100%;
}

ul.work-list .title h3,
.portfolio .title h1 {
  color: #fff;
  font-weight: 700;
  font-size: 2rem;
  text-transform: uppercase;
  margin: 0;
}

ul.work-list .title .category,
.portfolio .title .category {
  font-weight: 700;
  font-size: 1.4rem;
  color: $purple;
}


.portfolio .project-teaser {
	@include media-breakpoint-up(lg) {
		display: flex;
		flex-direction: row;
	}
}

.portfolio .project-teaser a {
	padding: 10rem;
	height: 60rem;
	display: flex;
	justify-content: center;
	align-items: center;
}

// .portfolio img {
// 	width: 100%;
// }

// .portfolio .project-content {
// 	@include media-breakpoint-up(lg) {
// 	  margin-left: 2rem;
// 	}
// }

.portfolio .project-content h2 {
	font-size: 4rem;
	margin: 2rem 0;
	font-weight: 700;
	@include media-breakpoint-up(md) {
		font-size: 5rem;
	}
	a {
		color: $gray-one;
		&:hover {
			color: $primary;
		}
	}
}
