.resume .border {
	border-left-width: 5px;
	border-left-style: solid;
	padding: 0 0 0 1.5em;
	margin-left: 1.5rem;
	position: relative;
}

.resume .section-one.border {
  border-left-color: $primary;
}

.resume .section-two.border {
  border-left-color: $primary;
}

.resume .degree.border {
  border-left-color: $secondary;
}

.resume-section .icon {
	border: 4px solid $gray-one;
	border-radius: 100%;
	font-size: 2.4rem;
	padding:.6rem;
	margin: 0 .5rem 0 0;
}

.experience {
	margin-bottom: 6rem;
	@include media-breakpoint-up(md) {
		margin-left: 10rem;
	}
}
.education {
	@include media-breakpoint-up(md) {
		margin-left: 10rem;
	}
}

//typography
.section-one h2 {
	color: $primary;
}

.section-two h2 {
	color: $primary;
}

.education h3 {
	color: $secondary;
	margin-bottom: 0;
}

.resume hgroup h3 {
	margin-top: 0;
}

.resume #main ul {
	font-size: 1.8rem;
}

h2.resume-section {
	margin-bottom: 2rem;
}

.print-version {
	margin: 2rem 1rem;
}

//Dates

.resume .date {
  font-size: 1.4rem;
  font-weight: 700;
  color: #ffffff;
  padding: .5rem 1rem;
  border-radius: .4rem;
  @include media-breakpoint-up(md) {
  	position: absolute;
  	top: 0;
  	left: -10rem;
  }
	&.primary {
		background: $primary;
		&:after {
			border-left-color: $primary;
		}
	}
	&.primary-lt {
		background: $primary;
		&:after {
			border-left-color: $primary;
		}
	}
	&.secondary {
		background: $secondary;
		&:after {
			border-left-color: $secondary;
		}
	}
	&:after {
		content: "";
		display: none;
		border-top: .5rem solid transparent;
		border-bottom: .5rem solid transparent;
		border-left: 1rem solid $primary;
		position: absolute;
		right: -1rem;
		top: 50%;
		margin-top: -.5rem;
		@include media-breakpoint-up(md) {
			display: block;
		}
	}

}