@use '../../styles/mixins' as *;

.footer {
  inline-size: 100%;
  padding-block: 4rem 5rem;
  padding-inline: 4rem;
  color: var(--navy);

  @include bp-min(sm-desktop) {
    inline-size: 75%;
    padding-inline: 2rem;
  }
}

.footer p {
  font-size: 1.4rem;
}

.copyright {
  display: block;
  margin-block-start: 2rem;
  font-size: 1.2rem;
  opacity: 0.75;
}