<div class="portfolio clearfix">
<a name="work"></a>
<h2 class="section-title">Work</h2>
   
   <ul class="post-list row no-gutters">
      {% assign featuredWork = site.work| where:"featured", true %}
      {% for work in featuredWork %}
        <li class="featured col-md-12 col-lg-8">
          <a class="post-link" href="{{ work.url | prepend: site.baseurl }}">
            
            <div class="project-content">
              <h2>
                {{ work.title }}
              </h2>
            </div>

            {% if work.teaser-image %}
            <img src="{{site.baseurl}}/assets/img/{{work.teaser-image}}" />
            {% endif %}
          </a>
        </li> 
      {% endfor %}

      {% assign featuredWork = site.work | where:"featured", false | sort:"weight" %}
      {% for work in featuredWork %}
        <li class="col-sm-12 col-md-6 col-lg-4">
     			<a class="post-link" href="{{ work.url | prepend: site.baseurl }}">
  	        
            <div class="project-content">
              <h2>
    	          {{ work.title }}
    	        </h2>
            </div>

            {% if work.teaser-image %}
          	<img src="{{site.baseurl}}/assets/img/{{work.teaser-image}}" />
            {% endif %}
        	</a>
        </li>
      {% endfor %}
    </ul>

</div>