.experiment-links {
  margin: 0;
  padding: 0;
}

.experiment-links li {
  display: block;
  list-style-type: none;
  line-height: 1;
}

.experiment-links a {
  font-size: 1.2rem;
  display: inline-block;
  padding: .5rem 0;
}
