.full-width {
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
  margin-top: 4rem;
  margin-bottom: 4rem;
}

.full-width img {
  width: 100%;
  height: auto;
}

figure img {
  width: 100%;
}
