<!DOCTYPE html>
<html>

  {% include head.html %}

  <body class="{{ page.body-class }} {{ layout.body-class }}">
    <div id="loader-wrapper">
      <div id="loader"></div>

      <div class="loader-section section-left"></div>
        <div class="loader-section section-right"></div>

    </div>

    {% include header.html %}

    <div id="main" class="">
      {{ content }}
    </div>

    <footer>
    
      {% include footer.html %}
  
    </footer>
    
    <script src="/assets/js/scripts.js"></script>

  </body>

</html>
