---
layout: default
body-class: project
---

  {% if page.banner-image %}
  <figure class="full-width banner">
	  <img class="" src="{{site.baseurl}}/assets/img/{{page.banner-image}}">
  </figure>
  {% endif %}

  <div class="project-header clearfix">
    <div class="projectTitleWrapper">
      <h1 class="page-title">{{ page.title }}</h1>
      <div class="service-list">
        {{ page.service }}
        {% if page.external-link %}
        <a class="" href="{{ page.external-link }}" target="_blank">Live Site</a>
        {% endif %}
      </div>
    </div>
    <div class="project-intro">
      <p>{{ page.intro  }}</p>
    </div>
  </div>
  <article class="project-content clearfix">
    {{ content }}
  </article>

