// 
// Layout
// Define your layout requirements here, separated from your design elements.
// Use bootstrap grid or not, up to you. See example for ... examples.
// 

@import "../../bower_components/bootstrap/scss/grid";


.information,
.project-header {
	margin: 0 1rem;
	@include media-breakpoint-up(md){
	  width: 80%;
	  margin: 0 auto;
	}
}

.two-column {
	@include media-breakpoint-up(md){
		column-count: 2;
	}
}