// 
// Layout
// Define your layout requirements here, separated from your design elements.
// Use bootstrap grid or not, up to you. See example for ... examples.
// 

@import "../../bower_components/bootstrap/scss/grid";


.body-content,
.project-header {
  width: 80%;
  margin: 0 auto;
}

.two-column {
	column-count: 2;
}