.visually-hidden {
  border: 0;
  clip-path: inset(50%);
  block-size: 1px;
  margin: 0;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  inline-size: 1px;
}

.skip-link {
  position: absolute;
  top: -10000px; /* Hide off-screen */
  left: 0;
  padding: 8px;
  background: #000;
  color: #fff;
  z-index: 1000;
  text-decoration: none;
}

.skip-link:focus {
  top: 2px; /* Show on focus */
  left: 2px;
  inline-size: fit-content;
  block-size: auto;
  padding: 4px 8px;
}