body.menu-active {
  overflow: hidden;
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.main-wrapper {
  flex: 1;
}

#main,
footer {
  width: 100%;
  padding: 0 1rem;
  margin: 0 auto 4rem;
  @include for-tablet-portrait-up {
    width: 58rem;
    padding: 0;
    margin: 0 auto 7rem;
  }
  @include for-tablet-landscape-up {
    width: 88rem;
  }
  @include for-desktop-up {
    width: 118rem;
  }
}


