@mixin gradient {
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ff9d00+0,ff6f00+100 */
background: #ff9d00; /* Old browsers */
background: -moz-linear-gradient(45deg, #ff9d00 0%, #ff6f00 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(45deg, #ff9d00 0%,#ff6f00 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(45deg, #ff9d00 0%,#ff6f00 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff9d00', endColorstr='#ff6f00',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}