a {
	color: $purple;
	text-decoration: none;
	transition-duration: .2s;
	border-bottom: 1px solid $purple;
	&:hover,
	&:focus  {
		color: $purple;
		text-decoration: none;
		border-bottom: 1px solid transparent;
		outline: 0;
	}
}

/* Slide right */

a.hover-up,
.btn {
	overflow: hidden;
	font-weight: 700;
	position: relative;
	display: inline-block;
	outline: none;
	color: $purple;
	vertical-align: bottom;
	text-decoration: none;
	white-space: nowrap;
	padding: 0 .2rem;
	z-index: 1;
	border-bottom: 1px solid $purple;
}

a.hover-up::before,
.btn::before {
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
	width: 100%;
	height: 100%;
	background-color: rgba(94, 69, 105, 0.2);
	content: '';
	-webkit-transition: -webkit-transform 0.2s;
	transition: transform 0.2s;
	-webkit-transform: translateY(95%);
	transform: translateY(95%);
}

a.hover-up:hover::before,
a.hover-up:focus::before,
.btn:hover::before,
.btn:focus::before {
	-webkit-transform: translateY(0);
	transform: translateY(0);
}

.btn-lg {
	display: inline-block;
	padding: 1rem;
	margin: 1.5rem 0 0;
}

a.no-border {
	border: none;
}

h1, h2, h3, h4, h5 {
  color: $gray-one;
  margin-top: 3rem;
}

h1 {
	font-size: $font-size-h1;
	font-weight: 700;
}
h2 {
	font-size: $font-size-h2;
	font-weight: 700;
}
h3 {
	font-size: $font-size-h3;
	font-weight: 700;
}
h4 {
	font-size: $font-size-h4;
	font-weight: 700;
}
h5 {
	font-size: $font-size-h5;
	font-weight: 700;
}
h6 {
	font-size: $font-size-h6;
	font-weight: 700;
}

p {
	margin-bottom: 3rem;
}

.page-title {
	margin: 0 0 .5rem;
	font-size: 4rem;
	line-height: 1;
	@include media-breakpoint-up (md) {
		font-size: 6.5rem;
	}
}

.section-title {
	font-size: 8rem;
	text-transform: uppercase;
	margin: 0;
	text-align: center;
	position: relative;
	@include media-breakpoint-up(sm) {
		font-size: 15rem;
	}
	@include media-breakpoint-up(md) {
		font-size: 20rem;
	}
}

blockquote {
	font-size: 3rem;
    margin: 4rem 1rem;
    line-height: 1.25;
    padding: 2.5rem;
    border: 10px solid #333;
    font-weight: 900;
    @include media-breakpoint-up(md) {
    	margin: 4rem 5rem;
    	padding: 2.5rem 5rem;
    }
    &:before {
    	content:"“";
    	font-size: 4rem;
    }
    &:after {
    	content:"”";
    	font-size: 4rem;
    	position: relative;
    	right: 0;
    }
}

ul, ol {
	margin: 1rem 0;
  li {
  	line-height: 1.25;
  	margin-bottom: 1rem;
  	list-style-type: circle;
  }
}
